@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@700&display=swap");
@import url("../../index.css");

.dark_mode_mobile {
  margin-top: -20px;
  margin-left: 10px;
  margin-right: 10px;
}

.dark_mode_label_mobile {
  width: 45px;
  height: 23px;
  position: relative;
  display: block;
  background: #635fc7;
  border-radius: 200px;
  cursor: pointer;
  transition: 0.3s;
}
.dark_mode_label_mobile:after {
  content: "";
  width: 16px;
  height: 16px;
  position: absolute;
  top: 3px;
  left: 3px;
  background: #fff;
  border-radius: 180px;
  transition: 0.3s;
}
.dark_mode_input_mobile {
  width: 0;
  height: 0;
  visibility: hidden;
}
.dark_mode_input_mobile:checked + .dark_mode_label_mobile {
  background: #635fc7;
}
.dark_mode_input_mobile:checked + .dark_mode_label_mobile:after {
  left: 42px;
  transform: translateX(-100%);
}
.dark_mode_label_mobile:active:after {
  width: 30px;
}

.dark_mode_label_mobile svg {
  position: absolute;
  width: 20px;
  top: 5px;
  z-index: 100;
}
.dark_mode_label_mobile svg.sun {
  left: 5px;
  fill: #fff;
  transition: 0.3s;
}
.dark_mode_label_mobile svg.moon {
  left: 40px;
  fill: #7e7e7e;
  transition: 0.3s;
}
.dark_mode_input_mobile:checked + .dark_mode_label_mobile svg.sun {
  fill: #7e7e7e;
}
.dark_mode_input_mobile:checked + .dark_mode_label_mobile svg.moon {
  fill: #fff;
}
